In [14]:
import pandas as pd
import numpy as np
from utils import *

In [15]:
df = pd.read_excel("../data/office_books.xlsx")
df.head()

,Book Title,Author l-f,ISBN-13,ISBN-10,Year Read,User Genre,Fiction Status,User Tags,Ownership Status,Buy?
0,Australia's Security in China's Shadow,"Graham, Euan",9.781033e+12,NaN,2023,defense;australia,non-fiction,NaN,NaN,NaN
1,The Science of Paintings,"Taft, Stanley",9.780388e+12,NaN,2022,NaN,non-fiction,NaN,NaN,y
2,"College: What It Was, Is, And Should Be","Delbanco, Andrew",9.780691e+12,NaN,2023,NaN,non-fiction,NaN,NaN,NaN
3,The Success of Open Source,"Weber, Steven",9.780674e+12,NaN,2022,computer-science,non-fiction,NaN,NaN,NaN
4,Kill It With Fire,"Bellotti, Marianne",9.781719e+12,NaN,2022,computer-science,non-fiction,NaN,NaN,NaN

In [16]:
df2 = pd.read_excel("../data/simplified_book_list.xlsx")
df2.head()

,Book Title,Author l-f,Additional Authors,ISBN-10,ISBN-13,Number of Pages,Year Published,Original Publication Year,Year Read,User Genre,Fiction Status,User Tags,Ownership Status,Buy?
0,Artificial Intelligence: A Modern Approach,"Russell, Stuart",Peter Norvig,0136042597,9.780136e+12,1152.0,2009.0,1994.0,2023.0,data-science,non-fiction,college,own-physical,NaN
1,Data Mining: Practical Machine Learning Tools ...,"Witten, Ian H.","Eibe Frank, Mark A. Hall, Christopher J. Pal",0128042915,9.780128e+12,654.0,2016.0,1999.0,2022.0,data-science,non-fiction,college,own-physical,NaN
2,An Introduction to Galaxies and Cosmology,"Jones, Mark H.","Robert J. A. Lambourne, Stephen Serjeant",1107492610,9.781107e+12,450.0,2015.0,2004.0,2018.0,astronomy,non-fiction,college,own-physical,NaN
3,The Philosophical Breakfast Club: Four Remarka...,"Snyder, Laura J.",NaN,0767930487,9.780768e+12,448.0,2011.0,2011.0,2018.0,science,non-fiction,college,NaN,y
4,Physics: Volume 1: Asia-Pacific Edition (Physi...,"Serway, Raymond A.","John W. Jewett Jr., Kate Wilson, Anna Wilson",NaN,9.780170e+12,556.0,2012.0,2012.0,2018.0,physics,non-fiction,college,own-physical,NaN

In [20]:
df.shape

(27, 10)

In [21]:
df2.shape

(285, 14)

In [22]:
df3 = pd.concat([df,df2])
df3.shape

(312, 14)

In [19]:
df3.tail()

,Book Title,Author l-f,ISBN-13,ISBN-10,Year Read,User Genre,Fiction Status,User Tags,Ownership Status,Buy?,Additional Authors,Number of Pages,Year Published,Original Publication Year
280,Moon White: Color Me Enchanted,"Carson, Melody",NaN,NaN,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281,Going Bovine,"Bray, Libby",NaN,NaN,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,In case of emergency,"Scott, E G",NaN,NaN,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283,The relentless moon,"Kowal, Mary Robinette",NaN,NaN,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,Radio Rebel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN